{% load static %}
<head>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'sbadmin/css/sb-admin-2-original.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'others/css/landing-page.css' %}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
    <!-- Highcharts JavaScript -->
    <script src="{% static 'highcharts/code/highcharts.js' %}"></script>
    <script src="{% static 'highcharts/code/modules/exporting.js' %}"></script>
    <script src="https://code.highcharts.com/modules/gray.js"></script>

</head>

<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><h3>Synthetic Data</h3></a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <div>
                <img src="{% static 'images/header_logo_grey_small.jpg' %}" class="img-responsive"
                     style="padding-top: 5px">
            </div>
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{% url 'synthesizer:synthesizer_display' %}"><i class="fa fa-table fa-fw"></i>
                            Data Comparison</a>
                    </li>
                    <li>
                        <a href="{% url 'synthesizer:com_histogram' %}"><i class="fa fa-bar-chart-o fa-fw"></i>
                            Histogram Comparison </a>
                    </li>
                    <li>
                        <a href="{% url 'synthesizer:com_hitmap' %}"><i class="fa fa-bar-chart-o fa-fw"></i>
                            Heatmap Comparison</a>
                    </li>
                    <br><br><br>
                    <li>
                        <a id="download_data" href="{{ MEDIA_URL }}{{ passed_download_data }}" download="{{ passed_download_data }}"
                           class="btn btn-outline btn-success">Download synthetic data</a>
                    </li>
                    <br>
                    <li>
                        <a id="download_desp" href="{{ MEDIA_URL }}{{ passed_download_desp }}" download="{{ passed_download_desp }}"
                           class="btn btn-outline btn-success">Download dataset description</a>
                    </li>
                    <img id="res_dt_logo" src="{% static 'images/DataSynthesizer_Logo.png' %}" class="img-responsive">
                </ul>
            </div>
        </div>
        <!-- /.navbar-static-side -->
    </nav>


    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Comparison by histogram ({{ mode_name }})</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Instructions</h4>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="form-group" id="att_checkboxes">
                            <label>Choose attributes</label>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        <!-- /.row -->
        {% for atti in passed_column_name %}

            <div class="row">
                <div id="{{ atti | safe }}" style="display:none" class="col-lg-12">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title"> {{ atti }} in original data</h5>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                {% if atti in cate_column_name %}
                                    <div id="{{ atti | safe }}_barchart_before"></div>
                                {% else %}
                                    <div id="{{ atti | safe }}_histogram_before"></div>
                                {% endif %}
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title"> {{ atti }} in synthetic data</h5>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                {% if atti in cate_column_name %}
                                    <div id="{{ atti | safe }}_barchart_after"></div>
                                {% else %}
                                    <div id="{{ atti | safe }}_histogram_after"></div>
                                {% endif %}
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>
                <!-- col-lg-12 -->
            </div>
            <!-- /.row -->
        {% endfor %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-inline" align="center">
                            <a href="{% url 'synthesizer:proc_data_dash' %}" class="btn btn-default">Previous step
                                (Parameter settings)</a>
                            <a href="{% url 'synthesizer:index' %}" class="btn btn-default">Upload new dataset</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->


<script type="text/javascript" language="javascript">
    var cate_atts = {{cate_column_name | safe}};
    var cols_header = {{passed_column_name | safe}};
    var drawable_att_list = {{drawable_atts | safe}};
    var chartUrl = "{% url 'synthesizer:res_json_processing_plot' %}";

    $(document).ready(function () {
        $.getJSON(chartUrl, function (data) {
            for (coli in drawable_att_list) {

                var col_i_name = drawable_att_list[coli];

                var title_text_before = 'Distribution of ' + col_i_name + ' in original data';
                var title_text_after = 'Distribution of ' + col_i_name + ' in synthetic data';

                if (cate_atts.includes(col_i_name)) {
                    //draw bar chart here
                    var before_barchart_name = col_i_name + "_barchart_before";
                    var after_barchart_name = col_i_name + "_barchart_after";
                    Highcharts.chart(before_barchart_name, {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: title_text_before
                        },
                        xAxis: {
                            categories: data["barchart"][col_i_name]["before"]["bins"],
                            crosshair: true,
                            labels: {
                                style: {
                                    fontSize: '20px'
                                }
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Count',
                                style: {
                                    fontSize: '18px'
                                }
                            },
                            labels: {
                                style: {
                                    fontSize: '20px'
                                }
                            }
                        },
                        plotOptions: {
                            column: {
                                pointPadding: 0.2,
                                borderWidth: 0
                            }
                        },
                        series: [{
                            name: col_i_name,
                            data: data["barchart"][col_i_name]["before"]["counts"]

                        }],
                        legend: {
                            itemStyle: {
                                fontSize: '18px'
                            }
                        }
                    });

                    Highcharts.chart(after_barchart_name, {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: title_text_after
                        },
                        xAxis: {
                            categories: data["barchart"][col_i_name]["after"]["bins"],
                            crosshair: true,
                            labels: {
                                style: {
                                    fontSize: '20px'
                                }
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Count',
                                style: {
                                    fontSize: '18px'
                                }
                            },
                            labels: {
                                style: {
                                    fontSize: '20px'
                                }
                            }
                        },
                        plotOptions: {
                            column: {
                                pointPadding: 0.2,
                                borderWidth: 0
                            }
                        },
                        series: [{
                            name: col_i_name,
                            data: data["barchart"][col_i_name]["after"]["counts"]

                        }],
                        legend: {
                            itemStyle: {
                                fontSize: '18px'
                            }
                        }
                    });

                }
                else {
                    //draw distogram here
                    var before_hist_name = col_i_name + "_histogram_before";
                    var after_hist_name = col_i_name + "_histogram_after";

                    Highcharts.chart(before_hist_name, {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: title_text_before
                        },
                        xAxis: {
                            gridLineWidth: 1,
                            labels: {
                                style: {
                                    fontSize: '20px'
                                }
                            }
                        },
                        yAxis: [{
                            title: {
                                text: 'Count',
                                style: {
                                    fontSize: '18px'
                                }
                            },
                            labels: {
                                style: {
                                    fontSize: '18px'
                                }
                            }
                        }],
                        series: [{
                            name: col_i_name,
                            type: 'column',
                            data: data['histogram'][col_i_name]['before'],
                            pointPadding: 0,
                            groupPadding: 0,
                            pointPlacement: 'between',
                        }],
                        legend: {
                            itemStyle: {
                                fontSize: '18px'
                            }
                        }
                    });
                    //draw histogram for after
                    Highcharts.chart(after_hist_name, {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: title_text_after
                        },
                        xAxis: {
                            gridLineWidth: 1,
                            labels: {
                                style: {
                                    fontSize: '20px'
                                }
                            }
                        },
                        yAxis: [{
                            title: {
                                text: 'Count',
                                style: {
                                    fontSize: '18px'
                                }
                            },
                            labels: {
                                style: {
                                    fontSize: '18px'
                                }
                            }
                        }],
                        series: [{
                            name: col_i_name,
                            type: 'column',
                            data: data['histogram'][col_i_name]['after'],
                            pointPadding: 0,
                            groupPadding: 0,
                            pointPlacement: 'between'
                        }],
                        legend: {
                            itemStyle: {
                                fontSize: '18px'
                            }
                        }
                    });


                } //end of else

            }//end of for
        }); //end of getJson
    }); //end of ready function

</script>

<script type="text/javascript" language="javascript">

    var table_header = {{passed_column_name | safe}};
    var drawable_att_list = {{drawable_atts | safe}};
    for (i in table_header) {
        if (drawable_att_list.includes(table_header[i])) {

            $('#att_checkboxes').append('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="checkbox-inline"><input name="checks" id="check_' + table_header[i] + '" type="checkbox">' + table_header[i] + '</label>');
        }

    }

    $(document).ready(function () {
        $('input[type="checkbox"]').click(function () {

            for (i in drawable_att_list) {
                if (document.getElementById("check_" + drawable_att_list[i]).checked) {
                    document.getElementById(drawable_att_list[i]).style.display = 'inline';
                }
                else {
                    document.getElementById(drawable_att_list[i]).style.display = 'none';
                }


            }

        });
    });


</script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</body>