{% load static %}
<head>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="{% static 'sbadmin/css/sb-admin-2-original.css' %}" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- DataTables CSS -->
    <link href="{% static 'datatables-plugins/dataTables.bootstrap.css' %}" rel="stylesheet">


    <link href="{% static 'others/css/landing-page.css' %}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
    <!-- dataTable -->
    <link href="{% static 'datatables/media/css/jquery.dataTables.css' %}" rel="stylesheet">
    <script src="{% static 'datatables/media/js/jquery.dataTables.js' %}"></script>

    <!-- Highcharts JavaScript -->
    <script src="{% static 'highcharts/code/highcharts.js' %}"></script>
    <script src="{% static 'highcharts/code/modules/exporting.js' %}"></script>
    <script src="https://code.highcharts.com/modules/gray.js"></script>

</head>

<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><h3>Synthetic Data</h3></a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <div>
                <img src="{% static 'images/header_logo_grey_small.jpg' %}" class="img-responsive"
                     style="padding-top: 5px">
            </div>
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a id="data_com_link" href="{% url 'synthesizer:synthesizer_display' %}"><i class="fa fa-table fa-fw"></i>
                            Data Comparison</a>
                    </li>
                    <li>
                        <a href="{% url 'synthesizer:com_histogram' %}"><i class="fa fa-bar-chart-o fa-fw"></i>
                            Histogram Comparison </a>
                    </li>
                    <li>
                        <a href="{% url 'synthesizer:com_hitmap' %}"><i class="fa fa-bar-chart-o fa-fw"></i>
                            Heatmap Comparison</a>
                    </li>
                    <br><br><br>
                    <li>
                        <a id="download_data" href="{{ MEDIA_URL }}{{ passed_download_data }}" download="{{ passed_download_data }}"
                           class="btn btn-outline btn-success">Download synthetic data</a>
                    </li>
                    <br>
                    <li>
                        <a id="download_desp" href="{{ MEDIA_URL }}{{ passed_download_desp }}" download="{{ passed_download_desp }}"
                           class="btn btn-outline btn-success">Download dataset description</a>
                    </li>
                    <img id="res_dt_logo" src="{% static 'images/DataSynthesizer_Logo.png' %}" class="img-responsive">

                </ul>
            </div>
        </div>
        <!-- /.navbar-static-side -->
    </nav>


    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Data comparison: input vs. synthetic ({{ mode_name }})</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info" , style="display: none">
                    <div class="panel-heading">
                        <h4 class="panel-title">Instructions</h4>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <p>Use navigation bar on the left to see a different comparison.</p>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title"> Original data (top 100 rows)</h5>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!--<table width="100%" class="table table-striped table-bordered table-hover"-->
                               <!--id="data_table_original">-->
                            <!--<thead>-->
                            <!--</thead>-->
                        <!--</table>-->
                        <table id="data_table_original" class="display nowrap" cellspacing="0" width="100%">
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title"> Synthetic data (top 100 rows)</h5>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!--<table width="100%" class="table table-striped table-bordered table-hover"-->
                               <!--id="data_table_synthetic">-->
                            <!--<thead>-->
                            <!--</thead>-->
                        <!--</table>-->
                        <table id="data_table_synthetic" class="display nowrap" cellspacing="0" width="100%">
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-inline" align="center">
                            <a href="{% url 'synthesizer:proc_data_dash' %}" class="btn btn-default">Previous step
                                (Parameter settings)</a>
                            <a href="{% url 'synthesizer:index' %}" class="btn btn-default">Upload new dataset</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
    <!--<div id="loadingImg">Loading&#8230;</div>-->
</div>
<!-- /#wrapper -->


<script type="text/javascript" language="javascript">
    //highlight data comparison link
    $("#data_com_link").trigger('click');

    $(document).ready(function () {
        $('#data_table_original').dataTable({
            ajax: {
                "url": "{% url 'synthesizer:res_json_processing' %}",
                "dataSrc": ""
            },
            columns: {{passed_json_columns | safe}},
            columnDefs: {{passed_json_columns_header | safe}},
            order: [[ 0, "desc" ]],
            scrollX: true,
        });
        $('#data_table_synthetic').DataTable({
            "ajax": {
                "url": "{% url 'synthesizer:res_json_processing_after' %}",
                "dataSrc": ""
            },
            columns: {{passed_json_columns | safe}},
            columnDefs: {{passed_json_columns_header | safe}},
            order: [[ 0, "desc" ]],
            scrollX: true,
        });

    });

</script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>