{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="DataResponsibly">
    <meta name="author" content="Drexel database group">

    <title>Data Responsibly</title>
    <meta name="description" content="DataResponsibly is a project that aims to make data management responsible.">

    <!-- CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'others/css/fileinput.min.css' %}" rel="stylesheet">
    <link href="{% static 'others/css/landing-page.css' %}" rel="stylesheet">
    <!-- bootstrap-select -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>

<body>

<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="navbar-header">
                    <div class="navbar-brand navbar-left">
                        <img id="dt_logo" style="margin-top: -45px;" class="img-responsive"
                             src="{% static 'images/rsz_datasynthesizer_logo.png' %}">
                    </div>
                    <div class="navbar-brand navbar-right">
                        <img style="margin-top: -7px;" class="img-responsive" src="{% static 'images/rsz_header_logo.png' %}">
                    </div>
                    <div class="intro-message">
                        <h1>Data Synthesizer</h1>
                        <hr class="intro-divider">
                        <form method="post" enctype="multipart/form-data">{% csrf_token %}
                            <h2>Upload your own data</h2>
                            <input id="file_upload" type="file" accept=".csv" class="filestyle" data-icon="false" name="user_upload_data" onchange='triggerValidation(this)' />
                            <br>
                            <h2>OR</h2>
                            <br>
                            <h2>Play with our test data <span>&nbsp;&nbsp;</span> <a style="color: #0f0f0f" data-toggle="tooltip" data-placement="right"><i class="fa fa-question-circle fa-1x"></i></a></h2>
                            <select id="dataset_select" name="dataset_select" class="selectpicker">
                                {% for datai in passed_play_data %}
                                 <option value="{{ datai | safe }}">{{ datai }}</option>
                                {% endfor %}
                            </select>


                            <span><br><br><br><br></span>
                            <input id="upload_btn" class="btn btn-default btn-lg top-buffer" aria-haspopup="true"
                                   aria-expanded="false" type="submit" value="Upload Data"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<div class="footer_div">
    <div class="container_footer">
        <footer class="main_footer">
            <p class="text-muted">
                &copy; 2017 <a href="https://github.com/DataResponsibly/DataSynthesizer"> Data Synthesizer GitHub</a>
                | <a href="https://dataresponsibly.github.io">Data Responsibly</a>
                | <a href="https://dataresponsibly.github.io/contact/">Contact Us</a>
            </p>
        </footer>
    </div>
</div>

<style>

    .main_footer {
        background: inherit;
    }

    .container_footer {
        display: flex;
        justify-content: center;
    }

</style>

<!-- play data toolip setting-->
<script type="text/javascript" language="javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({
        title: "All the test datasets here are sample datasets. The original datasets can be found in our GitHub repository. Check the code link in the footer of this page!",
        });
});
</script>
<!-- if upload data size less than threshold, then alert user to upload new data or leave it blank use test data-->
<script type="text/javascript" language="JavaScript">
    // validate upload data size
    var data_size_flag = {{passed_size_flag | safe}};
    if (data_size_flag == false){
        alert("You need to upload a data set that has more than 20 rows! Or leave it blank to use our test data!");
    }
</script>
<!-- if upload data is not .csv file, then alert user to upload new data or leave it blank to use test data-->
<script type="text/javascript" language="javascript">
    // for browser that does not support .csv accept
    var regex = new RegExp("(.*?)\.(csv)$");

    function triggerValidation(el) {
      if (!(regex.test(el.value.toLowerCase()))) {
        el.value = '';
        alert('Please upload a .csv file!');
      }
    }

</script>



<!-- JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'others/js/bootstrap-filestyle.min.js' %}"></script>
<script src="{% static 'others/js/fileinput.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

</body>
</html>