{% load static %}
<head>
    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
    <link href="{% static 'datatables/media/css/jquery.dataTables.css' %}" rel="stylesheet">
    <link href="{% static 'others/css/landing-page.css' %}" rel="stylesheet">
    <script src="{% static 'datatables/media/js/jquery.dataTables.js' %}"></script>
</head>

<body>
<div class="banner">
    <h2>Data Preprocessing</h2>
</div>
<table id="data_table" class="display">
    <thead>
    </thead>
</table>


<script type="text/javascript" language="javascript">
    var table_header = {{passed_column_name | safe}};

    $('#data_table > thead').append('<tr>');
    for (i in table_header) {
        $('#data_table > thead').append('<th>' + table_header[i] + '</th>');
    }
    ;
    $('#data_table > thead').append('</td>');

    $(document).ready(function () {
        $('#data_table').dataTable({
            "ajax": {
                "url": "{% url 'dataflow:json_processing' %}",
                "dataSrc": ""
            },
            "columns": {{passed_json_columns | safe}}
        });
    });

</script>

<form action="{% url 'dataflow:nutrition_facts' %}" method="post">{% csrf_token %}
    <input type="submit" value="Generate nutrition facts"/>
</form>

</body>