{% load static %}
<head>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- bootstrap-slider CSS -->
    <link href="{% static 'bootstrap-slider/css/bootstrap-slider.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'sbadmin/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>

    <!-- Highcharts JavaScript -->
    <script src="{% static 'highcharts/code/highcharts.js' %}"></script>
    <script src="{% static 'highcharts/code/modules/exporting.js' %}"></script>
    <script src="https://code.highcharts.com/modules/gray.js"></script>

</head>

<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><h4>Ranking facts</h4></a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <div>
                <img src="{% static 'images/header_logo_grey_small.jpg' %}" class="img-responsive"
                     style="padding-top: 5px">
            </div>
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{% url 'dataflow:nutrition_facts' %}"><i class="fa fa-dashboard fa-fw"></i> Ranking
                            Facts</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench fa-fw"></i> Additional results<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'dataflow:res_personal' %}"><i class="fa fa-table fa-fw"></i> Personal ranking information</a>
                            </li>
                            <li>
                                <a href="{% url 'dataflow:res_fairness' %}"><i class="fa fa-table fa-fw"></i> Fairness in ranking</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>


    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Ranking Facts</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Ranking Recipe
                    </div>
                    <div class="panel-body">
                        <div class="form-inline" id="rank_formula">
                            <label>Score = </label>
                             {% for atti in chosed_atts %}
                            &lpar;
                            <label id="{{atti | safe}}_weight"></label>
                            &times;
                            <input class="form-control" id="{{atti | safe}}" disabled>
                            &rpar;
                            &plus;
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Score distribution
                    </div>
                    <div class="panel-body">
                        <div id="score_scatter" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Attributes distribution in top 10
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <span><br></span>
                        {% for atti_name, atti_id in passed_choosed_att_zip %}
                        <div class="form-inline">
                            <label>{{atti_name}}</label>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input id="{{atti_id | safe}}_topTen" type="text"
                              data-provide="slider" data-slider-tooltip="always" />
                            <span><br><br><br></span>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Attributes distribution in top 100
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <span><br></span>
                        {% for attH in chosed_atts_tuple %}
                        <div class="form-inline">
                            <label>{{attH.0}}</label>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input id="{{attH.1 | safe}}_topHundred" type="text"
                              data-provide="slider" data-slider-tooltip="always" />
                            <span><br><br><br></span>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        Importance of attributes
                    </div>
                    <div class="panel-body">
                        <p>Histogram of attributes's importance:</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-inline" align="center">
                            {% if passed_unprocessing_flag %}
                            <a href="{% url 'dataflow:data_process' %}" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-menu-left"></span>
                                Previous step (Parameter Settings)</a>
                            {% else %}
                            <a href="{% url 'dataflow:norm_process' %}" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-menu-left"></span>
                                Previous step (Parameter Settings)</a>
                            {% endif %}
                            <a href="{% url 'dataflow:base' %}" class="btn btn-default btn-lg">
                                Upload new data
                                <span class="glyphicon glyphicon-menu-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<script type="text/javascript" language="javascript">
    //update slide with statistics of attributes
    var att_stats={{att_stats | safe}};
    var choosed_atts = {{chosed_atts | safe}};
    var choosed_atts_ids = {{passed_cols_ids | safe}};

    $(document).ready(function () {
        // update top 10 statistics
        for (i in choosed_atts) {
            var tick_atti_T = att_stats["topTen"][i];
            var att_id_T = "#"+choosed_atts_ids[i]+"_topTen";
            $(att_id_T).slider({
                min: tick_atti_T[2],
                max: tick_atti_T[0],
                value: tick_atti_T[1],
                step: 1,
                ticks: tick_atti_T,
                ticks_labels: ['min: '+tick_atti_T[2], 'medium', 'max: '+tick_atti_T[0]],
                disable: true
            });
        }
        // update top 100 statistics
        for (i in choosed_atts) {
            var tick_atti_H = att_stats["topHundred"][i];
            var att_id_H = "#"+choosed_atts_ids[i]+"_topHundred";
            $(att_id_H).slider({
                min: tick_atti_H[2],
                max: tick_atti_H[0],
                value: tick_atti_H[1],
                step: 1,
                ticks: tick_atti_H,
                ticks_labels: ['min: '+tick_atti_H[2], 'medium', 'max: '+tick_atti_H[0]],
                disable: true
            });
        }

    });
</script>
<script type="text/javascript" language="javascript">
    //update formula
    // update parameter input components with user entered value
    $(document).ready(function () {
        //remove the last plus symbol
        var current_formula = document.getElementById("rank_formula").innerHTML;
        var last_plus = current_formula.lastIndexOf("+");
        document.getElementById("rank_formula").innerHTML = current_formula.substring(0,last_plus);

        var att_weights={{att_weights | safe}};
        var choosed_atts = {{chosed_atts | safe}};
        for (i in choosed_atts) {
            var att_weight = att_weights[choosed_atts[i]];
            document.getElementById(choosed_atts[i]+"_weight").innerHTML = att_weight;
            document.getElementById(choosed_atts[i]).value = choosed_atts[i];
        }

    });
</script>
<script type="text/javascript" language="javascript">
    var chartUrl = "{% url 'dataflow:json_scatter_score' %}";
    $.getJSON(chartUrl, function (data) {
        $('#score_scatter').highcharts({
            chart: {
                type: 'scatter',
                zoomType: 'xy'
            },
            title: {
                text: 'Score distribution'
            },
            subtitle: {
                text: 'ranked on weight sum of selected attributes'
            },
            xAxis: {
                title: {
                    enabled: true,
                    text: 'Position'
                },
                startOnTick: true,
                endOnTick: true,
                showLastLabel: true
            },
            yAxis: {
                title: {
                    text: 'Score'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                borderWidth: 1
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 5,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: 'Ranked at {point.x} , with score {point.y} '
                    }
                }
            },
            series: [{
                name: 'score',
                color: 'rgba(223, 83, 83, .5)',
                data: data
            }]
        });
    });

</script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- bootstrap-slider JavaScript-->
<script src="{% static 'bootstrap-slider/bootstrap-slider.min.js' %}"></script>

</body>